.page-container.crew-page {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  @media #{$maxMedium} {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }
  @media #{$maxMobile} {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
  }
}
/* Start Crew Section */
.crew {
  .container {
    min-height: calc(100vh - 98px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    @media #{$maxMobile} {
      justify-content: flex-start;
      padding-bottom: 50px;
    }
    h5 {
      padding-left: 100px;
      @media #{$maxMedium} {
        padding-left: 0;
        padding-bottom: 40px;
        font-size: 18px;
        text-align: left;
      }
      @media #{$maxMobile} {
        text-align: center;
        font-size: 16px;
      }
      span {
        color: $dark-grey-color;
        margin-right: 10px;
        font-weight: bold;
      }
    }
    .description {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // align-items: center;
      align-items: flex-end;
      gap: 20px;
      margin-left: 100px;
      @media #{$maxMedium} {
        margin-left: 0;
      }
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        @media #{$minLarge} {
          padding-top: 30px;
          padding-bottom: 60px;
        }
        @media #{$maxMedium} {
          text-align: center;
        }
        @media #{$maxMobile} {
          order: 2;
        }
        h4 {
          color: #808186;
          margin-bottom: 20px;
          @media #{$maxMedium} {
            margin-bottom: 10px;
            font-size: 25px;
          }
          @media #{$maxMobile} {
            order: 2;
            font-size: 15px;
          }
        }
        h3 {
          margin-bottom: 20px;
          font-size: 54px;
          @media #{$maxMedium} {
            margin-bottom: 10px;
            font-size: 40px;
          }
          @media #{$maxMobile} {
            order: 3;
            font-size: 22px;
          }
        }
        p {
          max-width: 460px;
          @media #{$maxMedium} {
            width: 90%;
            margin: auto;
          }
          @media #{$maxMobile} {
            order: 4;
          }
        }
        .slider-one {
          display: flex;
          margin-top: 100px;
          @media #{$maxMedium} {
            margin-top: 40px;
            justify-content: center;
          }
          @media #{$maxMobile} {
            order: 1;
            margin: 15px 0 30px;
          }
          li {
            width: 15px;
            height: 15px;
            background-color: #646464;
            margin-right: 25px;
            @include prefixer(border-radius, 50%, webkit moz);
            @media #{$maxMedium} {
              width: 12px;
              height: 12px;
              margin: 0 8px;
            }
            &.active {
              background-color: $white-color;
            }
            &:hover {
              background-color: $hover-state-color;
            }
            a {
              display: block;
              height: 100%;
            }
          }
        }
      }
      .image {
        align-self: flex-end;
        @media #{$maxMedium} {
          width: 100%;
        }
        @media #{$maxMobile} {
          order: 1;
          border-bottom: 1px solid $dark-grey-color;
        }
        img {
          display: block;
          max-width: 465px;
          margin: 0 auto;
          @media #{$maxMedium} {
            max-width: 340px;
          }
          @media #{$maxMobile} {
            max-width: 200px;
          }
        }
      }
    }
  }
}
/* End Crew Section */